<div class="row">
    <div class="col-md-4">
        
    </div>
    
    <div class="col-md-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Category Form</h6>
            
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" id="category-name" style="margin-bottom: 10px">
                <div class="alert alert-danger d-none" id="category-name-error-label"></div>
            </div>
            
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="category-description" style="margin-bottom: 10px">
                <div class="alert alert-danger d-none" id="category-description-error-label"></div>
            </div>

            <button id="btnCreate" type="button" style="margin-bottom: 10px" class="btn btn-primary">Create</button>
            
            <div id="create-success-label" class="alert alert-success d-none">
                Created successfully!
            </div>
            <div id="create-error-label" class="alert alert-danger d-none">
                Error on created!
            </div>
            
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $("#btnCreate").on('click', ()=>{
            let data = {
                Name: $("#category-name").val(),
                Description: $("#category-description").val(),
            }
            
            let jsonData = JSON.stringify(data)
            
            $("#create-success-label").addClass("d-none")
            $("#create-error-label").addClass("d-none")
            $("#category-name-error-label").addClass("d-none")
            $("#category-description-error-label").addClass("d-none")
            
            $.ajax({
                url:'@Url.Action("Create", "Category")', 
                method: 'post',
                data: jsonData,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success:(response)=>{
                    $("#create-success-label").removeClass("d-none")
                    setTimeout(()=>{
                      $("#create-success-label").addClass("d-none")  
                    }, 3000)
                },
                error:(response)=>{
                    let jsonResponse = JSON.parse(response.responseText)
                    
                    if (jsonResponse.hasOwnProperty("Name")){
                        $("#category-name-error-label").removeClass("d-none")
                        document.getElementById("category-name-error-label").innerHTML = jsonResponse.Name    
                    }
                    
                    if (jsonResponse.hasOwnProperty("Description")){
                        $("#category-description-error-label").removeClass("d-none")
                        document.getElementById("category-description-error-label").innerHTML = jsonResponse.Description
                    }
                }
            })
        })
    </script>

}